# Predicting Apartment Renting Prices in Santiago MR - Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import re

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

### Data Load: load csv into a dataframe

In [2]:
df1 = pd.read_csv("RENT_APARTMENT_MR_raw.csv")
print(df1.shape)
df1.head()

(5324, 10)

,Surface_total,Surface_usable,Room,Bedroom,Bathroom,Parking,Service_fees,Location,URL,Price
0,57.0,57.0,NaN,2.0,1.0,1.0,NaN,Cerrillos,https://www.portalinmobiliario.com/MLC-9799489...,350000.0
1,90.0,80.0,NaN,3.0,2.0,NaN,120000.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9751095...,600000.0
2,80.0,80.0,NaN,3.0,1.0,1.0,4000.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9801789...,450000.0
3,57.0,57.0,NaN,3.0,1.0,1.0,NaN,Cerro Navia,https://www.portalinmobiliario.com/MLC-9796174...,450000.0
4,137.0,120.0,NaN,3.0,2.0,2.0,150000.0,Colina,https://www.portalinmobiliario.com/MLC-9776447...,1079369.0

In [3]:
df1.dtypes

Surface_total     float64
Surface_usable    float64
Room              float64
Bedroom           float64
Bathroom          float64
Parking           float64
Service_fees      float64
Location           object
URL                object
Price             float64
dtype: object

In [4]:
df1.columns

Index(['Surface_total', 'Surface_usable', 'Room', 'Bedroom', 'Bathroom',
       'Parking', 'Service_fees', 'Location', 'URL', 'Price'],
      dtype='object')

### Data Cleaning: Handle raw data and NaN values

In [5]:
df2 = df1.copy()

#### We will remove features that do not contain enough information. These are the features with high number of NaN values.

In [6]:
df2.isna().sum()

Surface_total      181
Surface_usable     442
Room              4348
Bedroom            151
Bathroom           324
Parking           2059
Service_fees      1463
Location             0
URL                  0
Price              115
dtype: int64

#### According to the results above, we will first remove features that show high number of NaN values (*Room*, *Parking*, *Service_fees*), which we will not use in the analysis.

#### We also rename columns so that their names have a more precise meaning.

In [7]:
features_drop = ['Room', 'Parking', 'Service_fees']
df3 = df2.drop(features_drop, axis='columns')

df3.rename(columns={
    "Bedroom": "Bedrooms",
    "Bathroom": "Bathrooms",    
}, inplace=True)

print(df3.shape)
# print(df3.dtypes)
df3

(5324, 7)

,Surface_total,Surface_usable,Bedrooms,Bathrooms,Location,URL,Price
0,57.0,57.0,2.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9799489...,350000.0
1,90.0,80.0,3.0,2.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9751095...,600000.0
2,80.0,80.0,3.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9801789...,450000.0
3,57.0,57.0,3.0,1.0,Cerro Navia,https://www.portalinmobiliario.com/MLC-9796174...,450000.0
4,137.0,120.0,3.0,2.0,Colina,https://www.portalinmobiliario.com/MLC-9776447...,1079369.0
...,...,...,...,...,...,...,...
5319,235.0,220.0,3.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9678405...,2000000.0
5320,119.0,105.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9758474...,1100000.0
5321,182.0,144.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9751390...,1460322.0
5322,120.0,103.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9701371...,1269845.0
5323,140.0,140.0,4.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9780276...,1520000.0

In [8]:
df3.describe()

       Surface_total  Surface_usable     Bedrooms    Bathrooms         Price
count    5143.000000     4882.000000  5173.000000  5000.000000  5.209000e+03
mean      182.683842      129.263826     2.247825     2.039400  4.888446e+06
std      3488.795741     2008.075346     1.081223     3.544906  1.734299e+08
min         1.000000        1.000000     1.000000     1.000000  1.600000e+05
25%        43.000000       41.000000     1.000000     1.000000  3.900000e+05
50%        70.000000       63.000000     2.000000     2.000000  6.500000e+05
75%       140.000000      123.000000     3.000000     3.000000  1.400000e+06
max    210000.000000   135000.000000    16.000000   240.000000  8.888918e+09

#### Let's examine the missing data among the main selected features, which we will remove as it cannot be used for the analysis.

In [9]:
df4 = df3[df3.Bedrooms.isna() | df3.Price.isna() | df3.Surface_total.isna() | df3.Surface_usable.isna()]

print(df4.shape)
df4

(496, 7)

,Surface_total,Surface_usable,Bedrooms,Bathrooms,Location,URL,Price
9,NaN,NaN,NaN,NaN,Conchali,http://portalinmobiliario.com/MLC-980211880-dp...,NaN
12,50.0,NaN,3.0,1.0,El Bosque,https://www.portalinmobiliario.com/MLC-9759288...,270000.0
39,NaN,NaN,1.0,1.0,Estacion Central,https://www.portalinmobiliario.com/MLC-9732398...,290000.0
42,NaN,NaN,1.0,1.0,Estacion Central,https://www.portalinmobiliario.com/MLC-9776724...,330000.0
54,NaN,NaN,3.0,2.0,Estacion Central,https://www.portalinmobiliario.com/MLC-9782256...,420000.0
...,...,...,...,...,...,...,...
5258,NaN,NaN,NaN,NaN,Vitacura,http://portalinmobiliario.com/MLC-977921543-de...,NaN
5286,39.0,37.0,NaN,2.0,Vitacura,https://www.portalinmobiliario.com/MLC-9638983...,140952838.0
5290,300.0,NaN,4.0,NaN,Vitacura,https://www.portalinmobiliario.com/MLC-9736186...,2793660.0
5304,NaN,NaN,NaN,NaN,Vitacura,https://www.portalinmobiliario.com/MLC-9685524...,NaN
5306,135.0,NaN,2.0,NaN,Vitacura,https://www.portalinmobiliario.com/MLC-9695403...,1428576.0

In [10]:
df5 = df3[~(df3.Bedrooms.isna() | df3.Price.isna() | df3.Surface_total.isna() | df3.Surface_usable.isna())]

print(df5.shape)
df5

(4828, 7)

,Surface_total,Surface_usable,Bedrooms,Bathrooms,Location,URL,Price
0,57.0,57.0,2.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9799489...,350000.0
1,90.0,80.0,3.0,2.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9751095...,600000.0
2,80.0,80.0,3.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9801789...,450000.0
3,57.0,57.0,3.0,1.0,Cerro Navia,https://www.portalinmobiliario.com/MLC-9796174...,450000.0
4,137.0,120.0,3.0,2.0,Colina,https://www.portalinmobiliario.com/MLC-9776447...,1079369.0
...,...,...,...,...,...,...,...
5319,235.0,220.0,3.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9678405...,2000000.0
5320,119.0,105.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9758474...,1100000.0
5321,182.0,144.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9751390...,1460322.0
5322,120.0,103.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9701371...,1269845.0
5323,140.0,140.0,4.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9780276...,1520000.0

In [11]:
df5.isna().sum()

Surface_total      0
Surface_usable     0
Bedrooms           0
Bathrooms         20
Location           0
URL                0
Price              0
dtype: int64

As we can see, after removing missing data, there is still 206 missing data from the feature Bathrooms. Let's explore this feature data in some more detail.

In [12]:
df5['Location'].value_counts()

Las Condes          1185
Santiago            1009
Vitacura             480
Providencia          355
Lo Barnechea         297
Nunoa                280
San Miguel           279
Estacion Central     233
La Florida           147
La Cisterna          109
Independencia         92
Macul                 89
Recoleta              52
Quinta Normal         45
San Joaquin           33
La Reina              32
Maipu                 24
Huechuraba            20
Penalolen             15
Puente Alto           11
Quilicura              8
La Granja              6
Conchali               6
Lo Prado               4
Pudahuel               4
Cerrillos              3
San Bernardo           2
La Pintana             2
El Bosque              2
Cerro Navia            1
Lampa                  1
Colina                 1
Talagante              1
Name: Location, dtype: int64

In [13]:
df5[df5.Bathrooms.isna()]['Location'].value_counts()

Las Condes      7
Santiago        5
Vitacura        3
Nunoa           2
Lo Barnechea    1
Providencia     1
San Miguel      1
Name: Location, dtype: int64

Here we can see that, despite the missing values in Bathrooms are concentrated in three locations (Las Condes, Santiago, Vitacura), there are considerably fewer missing values compared to the original number of data in these areas.
Something similar is observed in the remaining areas that show fewer missing Bathrooms data. Therefore we can safely remove these missing values as we previously did with the features Bedrooms, Price, and Surface.

In [14]:
df6 = df5[df5.Bathrooms.notna()]

print(df6.shape)
df6

(4808, 7)

,Surface_total,Surface_usable,Bedrooms,Bathrooms,Location,URL,Price
0,57.0,57.0,2.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9799489...,350000.0
1,90.0,80.0,3.0,2.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9751095...,600000.0
2,80.0,80.0,3.0,1.0,Cerrillos,https://www.portalinmobiliario.com/MLC-9801789...,450000.0
3,57.0,57.0,3.0,1.0,Cerro Navia,https://www.portalinmobiliario.com/MLC-9796174...,450000.0
4,137.0,120.0,3.0,2.0,Colina,https://www.portalinmobiliario.com/MLC-9776447...,1079369.0
...,...,...,...,...,...,...,...
5319,235.0,220.0,3.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9678405...,2000000.0
5320,119.0,105.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9758474...,1100000.0
5321,182.0,144.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9751390...,1460322.0
5322,120.0,103.0,3.0,3.0,Vitacura,https://www.portalinmobiliario.com/MLC-9701371...,1269845.0
5323,140.0,140.0,4.0,4.0,Vitacura,https://www.portalinmobiliario.com/MLC-9780276...,1520000.0

In [15]:
df6.isna().sum()

Surface_total     0
Surface_usable    0
Bedrooms          0
Bathrooms         0
Location          0
URL               0
Price             0
dtype: int64

In [16]:
df6.to_csv("RENT_APARTMENT_MR_clean.csv", index=False)